body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #eef2f7;
}

/* LAYOUT */
.container {
  display: flex;
  height: 100vh;
}

/* LEFT */
.left {
  flex: 2;
  padding: 20px;
  overflow-y: auto;
}

/* RIGHT */
.right {
  flex: 1;
  background: #1e272e;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* INPUT */
#barcode {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background: #2f3640;
  color: white;
}

th, td {
  padding: 12px;
  text-align: center;
}

/* BUTTON */
button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-bayar {
  background: #00a8ff;
  color: white;
  padding: 15px;
  font-size: 18px;
  margin-top: 10px;
}

button:hover {
  opacity: 0.9;
}

/* TOTAL */
.right h1 {
  font-size: 40px;
  margin: 20px 0;
}

/* MOBILE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .right {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}