body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f6fa;
}

.container {
  display: flex;
  height: 100vh;
}

/* LEFT */
.left {
  flex: 2;
  background: white;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.05);
}

.left h2 {
  margin-bottom: 10px;
}

#barcode {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 10px;
  background: #fafafa;
}

td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* RIGHT */
.right {
  flex: 1;
  background: #2f3640;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right h1 {
  font-size: 40px;
  margin: 20px 0;
}

#bayar {
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

.btn-bayar {
  padding: 15px;
  background: #00a8ff;
  color: white;
  font-size: 18px;
}

/* MOBILE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .right {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}