body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f6fa;
}

/* MOBILE FIRST */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* INPUT BARCODE */
#barcode {
  width: 100%;
  padding: 18px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
}

/* TABLE */
table {
  width: 100%;
  font-size: 18px;
}

th, td {
  padding: 12px;
}

button {
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 8px;
}

/* TOTAL PANEL (FIXED BAWAH) */
.right {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #2f3640;
  color: white;
  padding: 20px;
  box-shadow: 0 -5px 10px rgba(0,0,0,0.2);
}

.right h1 {
  font-size: 36px;
}

#bayar {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
}

.btn-bayar {
  width: 100%;
  padding: 18px;
  font-size: 20px;
  margin-top: 10px;
  background: #00a8ff;
  color: white;
}

/* DESKTOP MODE */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .left {
    flex: 2;
    padding: 20px;
  }

  .right {
    position: relative;
    flex: 1;
    height: 100vh;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}